{
  "development": {
    "username": "lanodizer",
    "password": "insecure",
    "database": "lanodized_dev",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "test": {
    "username": "lanodizer",
    "password": "insecure",
    "database": "lanodized_test",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "production": {
    "username": "PROD_USER",
    "password": "PASSWORD",
    "database": "prod_db",
    "host": "127.0.0.1",
    "dialect": "postgres"
  }
}
